/**/*.ilg
/**/*.nlo
/**/*.nls
/**/*.out
/**/*.bbl
/**/*.log
/**/*.nav
/**/*.aux
/**/*.snm
/**/*.toc
/**/*pdf
/**/#*#
/**/*.synctex.gz
/**/auto/
/tiklz_canvas/canvases/*
!/tiklz_canvas/canvases/.gitkeep
